<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successfully Logged In</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/images/bookclub-logo.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="logged-in-container">
      <header>
        <div class="logo-container">
          <a href="/"
            ><img
              src="/static/images/bookclub-logo.jpg"
              alt="Logo"
              class="logo"
          /></a>
        </div>
        <div class="burger-menu" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav id="nav-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/my_challenge">My Challenge</a></li>
            <li><a href="/previous_challenges">Alle Challenges</a></li>
            <li>
              <a href="/recommendations"
                ><i class="fas fa-magic"></i> AI Buchempfehlungen</a
              >
            </li>
            <li><a href="/bookmarks">Bookmarked</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>POPSUGAR Reading Challenge</h1>
        <p id="sub-title">Leaderboard <span id="year-placeholder"></span></p>
        <div id="tableContainer"></div>
      </main>
    </div>
    <script>
      const year = "{{ year }}";
      localStorage.setItem("year", year);
      document.getElementById("year-placeholder").textContent = year;
    </script>
    <script src="/static/js/all-users.js" data-fetch="true"></script>
    <script src="/static/js/test.js"></script>
  </body>
</html>
