<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/images/bookclub-logo.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
  </head>

  <body>
    <div class="logged-in-container">
      <header>
        <div class="logo-container">
          <a href="/"
            ><img
              src="/static/images/bookclub-logo.jpg"
              alt="Logo"
              class="logo"
          /></a>
        </div>
        <div class="burger-menu" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav id="nav-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/my_challenge">My Challenge</a></li>
            <li><a href="/previous_challenges">Alle Challenges</a></li>
            <li>
              <a href="/recommendations"
                ><i class="fas fa-magic"></i> AI Buchempfehlungen</a
              >
            </li>
            <li><a href="/bookmarks">Bookmarked</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <div id="profileContainer">
          <div>
            <canvas id="myChart" height="400"></canvas>
          </div>
          <hr class="section-divider" />
          <div class="books-read">
            <span class="books-read-number">
              {% for reader in readers_of_the_month %}
                {{ reader.user }} hat {{reader.number_of_books_read }} Bücher gelesen
              {% endfor %}
            </span>
          </div>
          Leser:in(nen) mit den meisten gelesenen Büchern der letzten 30 Tage
        </div>
      </main>
  </body>
  <script>
        const chartData = JSON.parse('{{ chartData | safe }}');
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
  <script src="/static/js/test.js"></script>
  <script src="/static/js/statistics.js"></script>
</html>
